name: CI

on:
  pull_request:
    branches: [ main ]
    paths:
      - '**.go'
      - '**.mod'
      - '**.sum'
      - '.github/workflows/ci.yml'
      - ".golangci.yml"
  push:
    branches: [ main ]
    paths:
      - '**.go'
      - '**.mod'
      - '**.sum'
      - '.github/workflows/ci.yml'
      - ".golangci.yml"

jobs:
  lint:
    permissions:
      contents: read
    uses: jsandas/github-actions/.github/workflows/golang-lint.yml@main

  security:
    permissions:
      contents: read
      security-events: write
    uses: jsandas/github-actions/.github/workflows/golang-security.yml@main

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    needs: [lint]
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: "go.mod"
        cache: true
        
    - name: Download dependencies
      run: go mod download
        
    - name: Run unit tests with coverage
      run: |
        go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...
